header {
    background:darkslategray;
    height: 89px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    
}
  
ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    
}

ul a {
    text-decoration: none;
    color:white;
    font-size: 25px;
    

}    
